$clr-dark-cyan: hsl(158, 36%, 37%);
$clr-cream: hsl(32, 37%, 92%);
$clr-grey: hsl(216, 3%, 50%);

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: $clr-cream;

  height: 100vh;

  font-family: 'Montserrat', sans-serif;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;

  width: 85vw;
  height: 650px;

  border-radius: 20px;
  overflow: hidden;

  &__image {
    flex-basis: 50%;
    max-height: 100%;
    object-fit: cover;
  }

  &__text {
    flex-basis: 50%;
    height: 100%;

    padding: 3em 3.5em 3em 3em;
  }

  &__subtitle {
    letter-spacing: 10px;
    text-transform: uppercase;
    color: $clr-grey;

    margin-bottom: 1.5em;
  }

  &__title {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    font-weight: 700;

    margin-bottom: 0.75em;
  }

  &__description {
    color: $clr-grey;

    font-size: 1.2rem;
    line-height: 1.5;

    margin-bottom: 2em;
  }

  &__price {
    font-family: 'Fraunces', serif;
    font-size: 2.5rem;
    color: $clr-dark-cyan;

    &--discounted {
      font-size: 1.1rem;
      color: $clr-grey;
      text-decoration: line-through;
    }
  }

  &__btn {
    background-color: $clr-dark-cyan;
    color: white;
    padding: 1em 3em;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
  }
}

.price__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;

  margin-bottom: 2em;
}
